body {
  font-family: "Roboto", sans-serif;
  background: #FFFFFF;
  color: #434455 
  }

.link {
  text-decoration: none;
  color: #2E2F42;
}
.list{
  font-style: normal;
  list-style: none;
}
.header{
  border-bottom: 1px solid #E7E9FC;
  }

.header-logo-studio {
  color: #2E2F42;
  }
  
.header-logo {
  text-decoration: none ;
  font-family: 'Raleway', sans-serif;
  font-weight: 800 ;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
}

.header-link:is(:hover, :focus) {
  color: #404bbf ;
}

.header-link:is(:hover, :active) {
  color: #404bbf ;
}
 
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.adress-item-link{
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#434455;
}

.adress-item-link:is(:hover, :focus) {
  color: #404bbf ;
}

.adress-item-link:is(:hover, :active) {
  color: #404bbf ;
}

.solutions {
  background: #2E2F42;
}

.solutions-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.solutions-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4D5AE5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 1px;
  cursor: pointer;
}

.solutions-button:is(:hover, :focus) {
  color: #4D5AE5;
  background: #F4F4FD;
}

.solutions-row-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.solutions-row-descr { 
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.doing-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background: #2E2F42;
}

.footer-logo-studio{
  color: #F4F4FD;
}

.footer-logo {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
 
}

.footer-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #E7E9FC;
}

.button-portfolio {
  background: #F4F4FD;
  color: #4D5AE5;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid #E7E9FC;
  border-radius: 4px;
}

.button-portfolio:is(:hover, :focus) {
  color: #fff;
  background-color: #4D5AE5;
}

.navigation-row-list {
  text-decoration: none;
}

.prtf-name{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}

.prtf-descr{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}