.body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  width: 1440px;
  height: 2590px;
  background: #FFFFFF;
  }

.header{
    box-sizing: border-box;
    position: absolute;
    width: 1440px;
    height: 72px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
  }

.header-logo-web {
  width: 44px;
  height: 24px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.header-logo-studio {
  width: 71px;
  height: 24px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2E2F42;
  flex: none;
  order: 1;
  flex-grow: 0;
}
  
.header-list-item {
  width: 48px;
  height: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2E2F42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.link {
  position: absolute;
  width: 153px;
  height: 24px;
  left: 940px;
  top: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.solutions {
  position: absolute;
  width: 1440px;
  height: 600px;
  left: 0px;
  top: 72px;
  background: #2E2F42;
}

.solutions-title {
  position: absolute;
  width: 496px;
  height: 120px;
  left: 472px;
  top: 260px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.solutions-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  position: absolute;
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;
  background: #4D5AE5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.solutions-row{
  position: absolute;
  width: 1128px;
  height: 104px;
  left: 156px;
  top: 792px;
}

.solutions-row-title {
  width: 264px;
  height: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2E2F42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.solutions-row-descr { 
  width: 264px;
  height: 72px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.doing {
  position: absolute;
  width: 1128px;
  height: 412px;
  left: 156px;
  top: 1016px;
}

.doing-title {
  position: absolute;
  width: 323px;
  height: 40px;
  left: 559px;
  top: 1016px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2E2F42;
}

.doing-item {
  box-sizing: border-box;
  width: 360px;
  height: 300px;
  background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229,   0.1));
  background-blend-mode: soft-light, normal;
  border: 1px solid #E7E9FC;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.team {
  position: absolute;
  width: 1440px;
  height: 732px;
  left: 0px;
  top: 1548px;
  background: #F4F4FD;
}

.team-title {
  position: absolute;
  width: 162px;
  height: 40px;
  left: 639px;
  top: 1668px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2E2F42;
}

.team-name {
  width: 134px;
  height: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E2F42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.team-descr {
  width: 85px;
  height: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.footer {
  position: absolute;
  width: 1440px;
  height: 310px;
  left: 0px;
  top: 2280px;
  background: #2E2F42;
}

.footer-logo-studio {
  width: 71px;
  height: 22px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #F4F4FD;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.footer-logo-web {
  width: 44px;
  height: 22px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.footer-descr {
  position: absolute;
  width: 264px;
  height: 72px;
  left: 156px;
  top: 2418px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #E7E9FC;
}